
.timerContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 100; 
}

  
  .timerDisplay {
    font-size: 180px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border-radius: 5px;
    
  }
  
  
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
  }
  